/*Стилі клієнтів*/
.client-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.client-item {
  width: calc((100% - (4 * 15px)) / 2);
  text-align: center;
  margin: 15px;
}

.client-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid $color-social;
  color: $color-social;
  transition: $animation;

  //   &:hover,
  //   &:focus {
  //     color: $accent-color;
  //     border: 1px solid $accent-color;
  //   }
}

.icon-client {
  fill: currentColor;
}
