/* Стилі фільтрів*/

.portfolio-border {
  position: relative;
  &::after {
    content: "";
    border: 1px solid #ececec;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
  }
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  &-item {
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
  }
}
