/*Cnbks aenthf*/
.footer {
  text-align: center;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $secondary-color;
}

.footer-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.address-text {
  margin-top: 0;
  color: $secondary-color;
}

.address-mail,
.address-phone {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address-mail,
.address-text {
  margin-bottom: 8px;
}

.address-phone {
  margin-bottom: 60px;
}

.footer-submit {
  height: 50px;
  width: 434px;
  padding-left: 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  // margin-right: 12px;
  background-color: transparent;
}

.footer-submit-svg {
  position: relative;
  top: 6px;
  left: 10px;
  fill: currentColor;
}

.footer-elements input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
