/*Стилы хедера*/
/* Site nav  */
.menu-button {
  position: relative;
  left: 274px;
  top: 24px;
  display: inline-block;
  margin: 10px 15px 10px 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
