/*Стилы хедера*/
/* Site nav  */
.site-nav {
  display: flex;
  margin-left: 85px;
}

.contact-nav {
  margin-left: auto;
}

.flex-nav {
  display: flex;
}

.сentering {
  display: flex;
  align-items: center;
}

.site-nav-item {
  margin-right: 50px;
}

.contact-nav-item,
.feature-list-items,
.work-list-items,
.team-item,
.client-item {
  margin-right: 30px;
}

.feature-list-items {
  width: calc((100% - (3 * 30px)) / 4);
}

.team-item {
  padding-bottom: 24px;
  background-color: $secondary-color;
  width: calc((100% - (3 * 30px)) / 4);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.client-item {
  width: calc((100% - (5 * 30px)) / 6);
  text-align: center;
}

.site-nav-link,
.contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
}

.site-nav-link {
  color: $titel-text-color;

  /* CSS анімація */
  transition-property: background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-nav,
.contact-nav {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.contact-link {
  display: flex;
  align-items: center;

  color: $primary-text-color;

  transition-property: background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.icon-mail {
  width: 16px;
  height: 11px;
  margin-right: 10px;
}

.icon-tel {
  width: 10px;
  height: 15px;
  margin-right: 10px;
}

.icon-contact {
  fill: currentColor;
}

.site-nav-link.current {
  color: $accent-color;

  position: relative;

  &::after,
  &::after {
    position: absolute;
    left: 0;
    bottom: 0;

    content: "";
    display: block;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: $accent-color;
  }
}

.underline-pf::after {
  width: 78px;
}
