/*Стилі героя*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 400px;

  background-image: linear-gradient(to right, $bd-hero, $bd-hero),
    url(../images/Header_mobile.jpg);
  background-color: $bg-footer;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: $secondary-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.hero-title,
.button.primary,
.works-title {
  letter-spacing: 0.06em;
}
